@model Buffteks.Models.BuffMemberViewModel

@{
    ViewData["Title"] = "Buff members?";
}

@*
<form asp-controller="Buff" asp-action="Index" method="get">
    <p>
        <select asp-for="movieGenre" asp-items="Model.genres">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
*@
<h3>Project</h3>
<table class="table">
    <thead><tr><th>@Html.DisplayNameFor(model => model.Projectbuffs[0].ProjectName)
           </th><th>
            </th></tr></thead>
    
    <tbody>
        @foreach (var item in Model.Projectbuffs)
        {<tr><td>@Html.DisplayFor(modelItem => item.ProjectName)
                </td>
              <td> 
                </td></tr>}</tbody></table>


@*
<h3>Clients</h3>
                <table class="table">
    <thead><tr><th>@Html.DisplayNameFor(model => model.Clientbuffs[0].ClientName)
           @* </th><th>@Html.DisplayNameFor(model => model.Clientbuffs[0].ClientName)*@
            </th></tr></thead>
    @*
    <tbody>
        @foreach (var item in Model.buffs)
        {<tr><td>@Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.ClientName)
                </td></tr>}</tbody></table>
                *@
                